<ion-header>

  <ion-navbar>
    <ion-title>Novo Canal</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()"> Fechar</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let canal of canais">
      <ion-thumbnail item-start>
        <img [src]="canal.urlLogo">
      </ion-thumbnail>
      <h2>{{canal.nome}}</h2>
      
      <ion-icon name="md-trash" clear item-end (click)="excluir(canal)"></ion-icon>
    </ion-item>
  </ion-list>
  
  <ion-fab right bottom> 
    <button ion-fab color="primary" (click)="adicionar()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>