<ion-header>
  
  <ion-navbar>
    <ion-title>NovoUsuario</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content padding>
  
  <form [formGroup]='form'>
    
    <ion-list>
      
      <ion-item>
        <ion-label floating> Primeiro Nome </ion-label>
        <ion-input type='text' formControlName="primeiroNome"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label floating> Ultimo Nome </ion-label>
        <ion-input type='text' formControlName="ultimoNome"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label floating> E-mail </ion-label>
        <ion-input type='email' formControlName="email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label floating> Senha </ion-label>
        <ion-input type='password' formControlName="senha"></ion-input>
      </ion-item>
      
    </ion-list>
    
    <button ion-button color="primary" outline block round [disabled]="!form.valid" (click)="salvar()">Salvar</button>
    <button ion-button color="secondary" outline block round (click)="cancelar()" > Cancelar</button>
  </form>
  
</ion-content>
