<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      YouLearn
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Digite a aula desejada" [showCancelButton]="true" #tag (keyup.enter)="buscarVideo(tag.value)"></ion-searchbar>
  
  <ion-card *ngFor="let video of videos">
    <ion-card-header (click)="playVideo(video)" >
      <b>{{video.titulo}}</b>
    </ion-card-header>

    <ion-card-content (click)="playVideo(video)">
      <img [src]="video.thumbmail">
      {{video.descricao}}
    </ion-card-content>
    
    <ion-row>  
      <ion-col *ngIf="video.idPlayList">
        <button ion-button icon-left clear-small (click)="showPlayList(video)"> 
          <ion-icon name="md-albums"></ion-icon>
          <div>Ver PlayList</div>
        </button>
      </ion-col>
      
      <ion-col>
        <button ion-button icon-left clear-small (click)="compartilharFacebook(video)"> 
          <ion-icon name="text"></ion-icon>
          <div>Compartilhar</div>  
        </button>
      </ion-col>
    </ion-row>
    
  </ion-card>
  
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="showNovoVideo()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>