<ion-header>
  <ion-navbar>
    <ion-title>{{nomePlayList}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngFor="let video of videos">
    <ion-card-header (click)="playVideo(video)">
      <b>{{video.titulo}}</b>
    </ion-card-header>
    <ion-card-content (click)="playVideo(video)">
      <img [src]="video.thumbmail"> {{video.descricao}}
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="compartilharFacebook(video)">
            <ion-icon name="text"></ion-icon>
            <div>Compartilhar</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>